/* general */

body {
  width: 960px;
  margin: auto
}

#delicious {
 margin-left: 10px;
}

#delicious h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 38px;
  display:inline-block
}

#delicious >li > h6 {
  font-size: 14px;
  color: rgb(154, 154, 154)
}

#navcontainer {
  margin-top: 15px;
  padding-bottom: 30px
}

hr {
  clear: both;
  height: 20px;
}

/* header */
#logoimg {
  float: left
}

#delicious {
  float: left
}

header ul {
  float: right;
}

header li {
  display: inline;
  margin: 0px
}

#navlist1 {
  margin-left: 10px
}

h6 {
  font-family: 'Abel', sans-serif;
  color: rgb(178, 178, 178)
}

/* body */
#separatortop {
  background-image: url("../assets/hr-img.png");
  background-repeat: repeat;
}

main h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 8px;
}

#print {
  float: right;
  display: inline;
  font-family: 'Abel', sans-serif;
  color: rgb(178, 178, 178)
}

#printicon {
  float: right
}

#chocopizza {
  width: 960px;
  margin-top: 30px
}

#instructions p{
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  text-indent: 50px;
  color: rgba(113, 113, 113, 0.923);
  line-height: 28px;
}



#ingredients {
  margin: 30px 0;
  background-image: url("img/list-bg.png");
  /* height: 300px; */
  width: 100%;
  background-image: url("../assets/list-bg.png");
  border-bottom: rgb(159, 159, 159);
}

#ingredientslist {
  font-family: 'Patrick Hand', cursive;
  column-count: 2;
  line-height: 30px;
  /* padding-left: 100px; */
  padding: 50px 0px 50px 120px;
  font-size: 18px;
}

#photo {
  float: left
}

button {
  float: right;
  font-family: 'Abel', sans-serif;
  color: white;
  background-color: rgba(220, 85, 2, 0.735);
  font-size: 16px;
  padding: 8px 25px;
}

button:hover {
  cursor: pointer;
}

#bio {
  font-size:20px;
  margin-top: 20px;
  display: inline-block;
  width: 590px;
  color: rgba(113, 113, 113, 0.923);
}

:checked {
  text-decoration: line-through;
}
/* footer */
footer {
  color: #ccc;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

footer:before {
  border-top: 1px solid #ccc;
  content: "";
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: -9999;
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(141, 141, 141);
}

#smalllogo {
  display: block;
  clear: both;
  margin: auto;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

#p1 {
  margin-top: 30px;
  clear:both
}

footer p {
  text-align: center;
  color: rgb(207, 207, 207);
}

footer {
  margin-bottom: 100px;
}